#a{position:absolute; left:0%; top:0%; height:15%; width:100%; background-color:; color:;  box-shadow:4px 4px 11px 7px;opacity:;}
	#a10{position:absolute; left:20%; top:50%; height:32%; width:13%; background-color:; color:black;
						 border-radius:50px; box-shadow:3px 3px 24px 0px white;padding-top:0.6%;}
	#a11{position:absolute; left:35%; top:50%; height:32%; width:13%; background-color:; color:black;
						 border-radius:50px; box-shadow:3px 3px 24px 0px white;padding-top:0.6%;}
	#a12{position:absolute; left:50%; top:50%; height:32%; width:13%; background-color:; color:black; 
						 border-radius:50px; box-shadow:3px 3px 24px 0px white;padding-top:0.6%;}
	#a13{position:absolute; left:65%; top:50%; height:32%; width:13%; background-color:; color:black;
						 border-radius:50px; box-shadow:3px 3px 24px 0px white;padding-top:0.6%;}
	#a14{position:absolute; left:80%; top:50%; height:32%; width:13%; background-color:; color:black;
						border-radius:50px; box-shadow:3px 3px 24px 0px white;padding-top:0.6%;}
a{text-decoration:none; color:white; text-shadow: 1px 1px 2px green, 0 0 25px green, 0 0 5px green;}
a:hover{text-decoration:none; color:white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}

	#a10:hover{position:absolute; left:20%; top:50%; height:32%; width:13%; background-color:; color:black;padding-top:0.6%;
border-radius:50px; box-shadow:3px 3px 24px 0px blue;}
	#a11:hover{position:absolute; left:35%; top:50%; height:32%; width:13%; background-color:; color:black;padding-top:0.6%;
border-radius:50px; box-shadow:3px 3px 24px 0px blue;}
	#a12:hover{position:absolute; left:50%; top:50%; height:32%; width:13%; background-color:; color:black;padding-top:0.6%;
border-radius:50px; box-shadow:3px 3px 24px 0px blue;}
	#a13:hover{position:absolute; left:65%; top:50%; height:32%; width:13%; background-color:; color:black;padding-top:0.6%;
border-radius:50px; box-shadow:3px 3px 24px 0px blue;}
	#a14:hover{position:absolute; left:80%; top:50%; height:32%; width:13%; background-color:; color:black;padding-top:0.6%;
border-radius:50px; box-shadow:3px 3px 24px 0px blue;}						
#a1{position:absolute; left:70%; top:0%; height:15%; width:30%; }
#m1{position:absolute; top:76%; left:5%; height:67%; width:90%; background-color:; border-radius:0px 0px 10px 10px;box-shadow:;}
#a15{position:absolute; left:1%; top:0%; height:100%; width:18%; background-color:; color:black; border-radius:5px;}	
	
